body,
h1, h2, h3, h4
{
	font-family: Segoe UI Light, Open Sans;
}



.row
{
	margin: 0;
}

#nav
{
	text-align: center;
	padding-top: 44px;
}

/*
#nav
{
	padding-right: 20px;
	padding-left: 20px;
}

#nav h1
{
	font-family: Segoe UI Light;
	text-align: center;
	font-size: 32px;
	line-height: 32px;
	margin: 68px 0 20px 0;
	padding: 0;
}

#nav a
{
	font-size: 22px;
	line-height: 32px;
}
*/

#main
{
	padding-right: 20px;
	padding-left: 20px;
}

h2
{
	font-size: 42px;
	line-height: 42px;
	margin: 58px 0 40px 0;
}

h2 a
{
	cursor: pointer;
	text-decoration: none;
}

h2 a.active
{
	text-decoration: none;
	color: black;
	cursor: default;
}

h3
{
	font-size: 22px;
}

.primary-secondary .row>div
{
	padding: 0 20px 0 0;
}

.primary-secondary .featured
{
	width: 100%;
	font-size: 22px;
	padding-bottom: 20px;
}

.primary-secondary .featured a,
.primary-secondary #secondary a
{
	color: black;
	text-decoration: none;
}

.primary-secondary .featured
{
	background-color: #2f3d03;
	background: url(http://s017.radikal.ru/i408/1306/e0/d6000ebee703.jpg) center;
	height: 540px;
	width: 100%;
	margin-bottom: 20px;
	padding-top: 380px;
}

.primary-secondary .featured a
{
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 20px;
}

.primary-secondary .featured img
{
	margin-right: 20px;
}

.primary-secondary #secondary table
{
	margin-bottom: 20px;
}

.primary-secondary #secondary table td
{
	vertical-align: top;
	padding-left: 10px;
}

.primary-secondary #secondary .img
{
	padding-left: 0px;
	height: 120px;
	width: 120px;
	text-align: center;
}

.primary-secondary #secondary .img img
{
	max-width: 100%;
}

.primary-secondary #secondary table h4
{
	margin-top: 0;
	line-height: 14px;
}

.galery>div
{
	width: 120px;
	height: 200px;
	float: left;
	vertical-align: middle;
	margin: 0 20px 20px 0;
}

.galery>div img
{
	width: 120px;
	margin-bottom: 10px;
}

.galery.customers
{
	margin-bottom: 80px;
}

.galery.customers>div
{
	width: 330px;
	height: 120px;
	font-size: 22px;
	margin: 0 40px 40px 0;
}

.galery.customers>div img
{
	float: left;
	margin: 0 20px 0px 0;
}

.leafs
{
	padding-top:10px;
}

.leafs div
{
	width: 260px;
	height: 260px;
	float: left;
	font-size: 22px;
	margin: 0 20px 20px 0;
	/*color: white;
	background-color: #2f3d03;*/
	background-color: #f3f3f3;
	padding: 10px 10px 10px 10px;
}

.leafs div strong
{
	display: block;
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 10px;
}

.contacts div
{
	float: left;
}

.contacts div#gmap_canvas
{
	margin: 0 20px 20px 0;
}

.contacts div.info
{
	font-size: 22px;
}

#footer
{
	text-align: center;
	padding: 40px 0 20px 0;
}