<div class="row">

	<div id="nav" class="col-sm-2">
		<a href="/"><img src="imgs/logo.png"></a>
		<!-- <h1>Си-плекс</h1>
		<ul>
			<li><a href="">Проекты</a></li>
			<li><a href="">Заказчики</a></li>
			<li><a href="">О компании</a></li>
		</ul> -->
	</div>
	
	<div class="col-sm-10">
		<h2>
			<a ng-class="{active: !active || active == 'projects'}" ng-click="active = 'projects'">Проекты</a>&nbsp;&nbsp;
			<a ng-class="{active: active == 'customers'}" ng-click="active = 'customers'">Заказчики</a>&nbsp;&nbsp;
			<a ng-class="{active: active == 'about'}" ng-click="active = 'about'">О&nbsp;компании</a>
		</h2>
		
		<div class="primary-secondary" ng-show="!active || active == 'projects'">
			<div class="row">
				<div class="col-sm-8">
					<table class="featured">
						<tr id="space"><td>&nbsp;</td><td>&nbsp;</td></tr>
						<tr id="descr">
							<td><img src="/imgs/partners/roskosmos_nosign.png"></td>
							<td>Программное обеспечение управления устройствами контроля и проведения тренеровок Центра подготовки космонавтов им. Ю.&nbsp;А.&nbsp;Гагарина</td>
						</tr>
					</table>
				</div>
				<div class="col-sm-4">
					<div id="secondary">
						<a>
							<table>
								<tr>
									<td class="img"><img src="/imgs/fupmstma_sh.png"></td>
									<td>
										<h4>FUPMS TMA</h4>
										Приложение для технического персонала Мерседес-Бенц
									</td>
								</tr>
							</table>
						</a>
						<a>
							<table>
								<tr>
									<td class="img"><img src="/imgs/servas.png"></td>
									<td>
										<h4>ServasOnLine</h4>
										Портал членов ораганизации Servas&nbsp;International
									</td>
								</tr>
							</table>
						</a>
						<a>
							<table>
								<tr>
									<td class="img"><img src="/imgs/homebid_house.png"></td>
									<td>
										<h4>Хоумбид</h4>
										Портал ответственных агентов по недвижимости и услугам.
									</td>
								</tr>
							</table>
						</a>
						<a>
							<table>
								<tr>
									<td class="img"><img src="/imgs/chance.png"></td>
									<td>
										<h4>Шанс.Объявления</h4>
										Мобильное приложение для крупнейшей газеты объявлений Санкт-Петербурга "Реклама&nbsp;Шанс"
									</td>
								</tr>
							</table>
						</a>
						
						<!--
							Разработать приложение объединяющее пользователей в чаты с учетом местоположения.
							Разработать механизмы для взаимодествия любителей и профессионалов неигрового кино.
							Разработать мобильный сайт для крупнейшего сайта объявлений об автомобилях Санкт-Петербурга <a href="http://bibika.ru">"Бибика.ру"</a>.
							Доработать механизм интеграции браузера <a href="http://www.chromium.org/Home">Chromium</a> с социальной сетью <a href="http://vk.com">ВКонтакте</a>.
							Разработать приложение для точки продаж билетов компании "Нева Трэвэл Компани".
						-->
					</div>
				</div>
			</div>
		</div>
		
		<div class="galery clearfix customers" ng-show="active == 'customers'">
			<div>
				<img src="/imgs/partners/roskosmos.jpg">
				<div class="title">Федеральное космическое агентство "Роскосмос"</div>
			</div>
			<div>
				<img src="/imgs/partners/mercedes_benz.jpg">
				<div class="title">ЗАО "Мерседес-Бенц РУС"</div>
			</div>
			<div>
				<img src="/imgs/partners/ifree_sm.jpg">
				<div class="title">Компания "i-Free"</div>
			</div>
			<div>
				<img src="/imgs/servas.png">
				<div class="title">Международная НКО Servas International</div>
			</div>
			<div>
				<img src="/imgs/partners/nii_sm.jpg">
				<div class="title">ОАО "НИИ телевидения"</div>
			</div>
			<div>
				<img src="/imgs/partners/bb_sm.jpg">
				<div class="title">Автомобильный портал bibika.ru</div>
			</div>
			<div>
				<img src="/imgs/partners/id-chance_sm.jpg">
				<div class="title">Издательский дом "Шанс"</div>
			</div>
		</div>
		
		<div ng-show="active == 'about'">			
			<!-- <h3>Наши составляющие успеха:</h3>
			<div class="leafs clearfix">
				<div>
					<strong>Новейшие технологии</strong> для достижения наилучшего результата
				</div>
				<div>
					<strong>Четкий процесс разработки</strong> построенный на <br/>CMMI 1.3
				</div>
				<div>
					<strong>Удовольствие</strong> от работы, которую мы делаем
				</div>
			</div> -->
			
			<h3>Команда</h3>
			<div id="faces" class="galery clearfix">
				<div ng-repeat="face in faces | orderBy:'idx'">
					<img src="{{face.photo}}">
					<div class="title">{{face.name}},</div>
					{{face.position}}
				</div>
			</div>
			
			<h3>Контакты</h3>
			<div class="contacts clearfix">
				<div id="gmap_canvas" ng-show="showMap()"></div>
				<div class="info">
					ООО "Си-плекс”<br/>
					199034, г Санкт-Петербург,<br/>
					Биржевая линия, д. 14,<br/>
					<a href="mailto:contact@c-plex.ru">contact@c-plex.ru</a>
				</div>
			</div>
		</div>
	</div>

</div>