<div id="project">
	<div class="row">
		<div class="col-md-12">
			<h1 ng-bind-html-unsafe="project.description.brief"></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div id="img-holder" class="col-md-6"><img ng-show="project.description.img != ''" src="{{project.description.img}}" /></div>
				<div class="col-md-6">
					<div ng-bind-html-unsafe="project.description.text"></div>
					<h3>Разработчики</h3>
					<div id="faces" class="clearfix">
						<ul><li ng-repeat="face in project.description.faces"><img src="{{face.photo}}" /></li></ul>
					</div>
					<!-- <div ng-show="project.description.techs.length > 0">
						<h3>Технологии</h3>
						<div id="techs">
							<ul>
								<li ng-repeat="tech in project.description.techs">
									<a href="{{tech.link}}" target="_blank">
										<img src="{{tech.logo}}" title="{{tech.name}}" alt="{{tech.name}}" />
									</a>
								</li>
							</ul>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>