<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p>&copy; 2007 &ndash; <script>document.write(new Date().getFullYear())</script> ООО "Си-плекс"</p>
        {{ site.description }}
      </div>
      <div class="col-sm-3">
        <div class="glyphicon glyphicon-map-marker pull-left"></div>
        <div>
          г. Санкт-Петербург,<br />
          Лиговский пр., д. 74,<br />
          <a href="mailto:contact@c-plex.ru">contact@c-plex.ru</a>
        </div>
      </div>
      <div class="col-sm-3">
        <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
        Поделиться:<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="small" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"></div>
      </div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>